html {
  background: url(../img/bg/1024.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 1.1em;
}

button {
  font-size: 2em;
  padding: 0.2em 0.4em;
  margin-left: 6em;
  letter-spacing: 1px;
  font-weight: normal;
  color: white;
  border: none;
  background: rgba(208, 77, 66, 0.85);
}

section {
  margin: 0 auto;
  margin-top: 9em;
}

section span {
  display: inline-block;
  background: rgba(0, 142, 207, .75);
  padding: 0.2em 0.4em;
  letter-spacing: 1px;
  color: white;
}

section span.planing {
  margin-left: 0.5em;
  margin-bottom: 0;
}
section span.pool {
  margin-right: 0.5em;
  float: right;
}

div.logo {
  position: absolute;
  bottom: 4%;
  right: 8%;
  width: 99px;
  height: 23px;
  background-image: url("../img/logo/logo_99.png");
  background-repeat: no-repeat;
  background-position: center center;
}
